<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>components</title>
</head>
<body>
	<!-- props只是父级对子级传值的一个对象集 -->
	<div id="comp">
		<ol>
			<todo-item v-for="item in groceryList" :todo="item"></todo-item>
		</ol>
	</div>
	<hr>
	<div id="comp-1">
		<compone :mycomp="message"></compone>
	</div>
	<hr>
	<div id="comp-2">
	  	<input v-model="message">
	  	<br>
		<compone :mycomp="message"></compone>
	</div>
	<hr>
	<div id="comp-3">
	  	<input v-model="message">
	  	<br>
		<influence-p :my-comp="message"></influence-p><!-- 但凡是是在组件中的驼峰命名都需改为用-进行命名 -->
	</div>
	<hr>
	<div id="app">
	    <ul class="navTab">
	      <li v-for="(navTab,index) in navTabs" is="tab-title" v-bind:info="navTab.text" v-bind:class="{active:navTab.isActive}"  v-on:addactive="switchActive(index)"></li>
	    </ul>
	    <div class="tabContent">
	      <div v-for="navTab in navTabs" is="tab-content" v-bind:content="navTab.tabContent" 
	      v-bind:class="['tab-panel',{active:navTab.isActive}]" v-if="navTab.isActive"></div>
	    </div>
    </div>
	<hr>
	<div id="comp-4">
	  	<input v-model="message">
	  	<br>
		<compone :mycomp="1"></compone><!-- 数值可以直接绑定 -->
	</div>
	<hr>
	<div id="comp-5">
		<div>{{arr[1]}}</div>
		<div>{{message}}</div>
		<influence-p smart v-model="message" v-bind:my-child="message" :my-arr="arr" :my-obj="obj" v-for="(v,i) of arr" :content="v" :index="i"></influence-p><!-- 数值可以直接绑定 smart会被定义到根元素上 -->
	</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
	Vue.component('todo-item',{
		props:['todo'],
		template:'<li>{{todo.text}}</li>'
	});
	var comp = new Vue({
		el:'#comp',
		data: {
			groceryList:[
				{
					text:'蔬菜'
				},{
					text:'奶酪'
				},{
					text:'随便其他人吃的什么东西'
				}
			]
		}
	});

	Vue.component('compone',{
		props:['mycomp'],
		template:'<p>{{mycomp}}</p>'
	});
	var comp1 = new Vue({
		el:'#comp-1',
		data: {
			message:'this is test info',
		}
	});
	var comp2 = new Vue({
		el:'#comp-2',
		data: {
			message:'this is test info',
		}
	});
	var comp4 = new Vue({
		el:'#comp-4',
		data: {
			message:'this is test info',
		}
	});

	var Child = {
	  	props:['myComp'],
	  	template: '<div>A custom component!{{myComp}}</div>'
	}
	var comp3 = new Vue({
		el:'#comp-3',
		data: {
			message:'this is test info e',
		},
	  	components: {
	    // <my-component> 将只在父组件模板中可用
	    	'influenceP': Child,
	  	}
	})

	var app = new Vue({
        el: '#app',
      	components: {
          	'tab-title': {
                props:['info'],//接受父元素传递的参数
                template:'<li v-on:click="$emit(\'addactive\')">{{info}}</li>'//点击时传递通过$emit子元素传递给父元素调用 addactive方法（不能使用驼峰写法）
            },
          	'tab-content':{
                props:["content"],
                template:'<div>{{content}}</div>'
          	}
      	},
          methods:{
              switchActive:function(index){
                for(var i=0;i<this.navTabs.length;i++){
                  this.navTabs[i].isActive=false;
                }
                this.navTabs[index].isActive=true;
                
              }
          },
          data:{
            navTabs:[
              {
                text:"tab1",
                isActive:true,
                tabContent:'this is tab1 content'
              },
              {
                text:"tab2",
                isActive:false,
                tabContent:'this is tab2 content'
              },
              {
                text:"tab3",
                isActive:false,
                tabContent:'this is tab3 content'
              }
            ]
          }
        });


	var comp5 = new Vue({
		el:'#comp-5',
		data: {
			message:' change to influence father',
			arr:[1,2,3],
			obj:{a:1,b:2}
		},
		components:{
			'influenceP':{
			  	props:['myChild',"myArr","myObj","content","index"],//此处的index为父级传值
			  	template: '<input type="text" v-bind:value="myChild">',
			  	data:function(){
			  		return {counter:this.myChild+"ss" }
			  	},
				computed: {
				  	normalizedSize: function (){
				    	return this.myChild.trim().toUpperCase()
				 	},
				 	changeArr:function(){
				 		this.myArr = [8,9,10] ;
				 		return ++this.myArr[this.index];
					}
				}
			}
		}
	});
</script>
</html>